.logo-size {
  max-width: 108px;
  max-height: 108px;
}

.footer-email-border {
  border-radius: 50px !important;
}

.footer-email-button-border,
.header-last-link {
  border-radius: 50px !important;
  border: none !important;
  background: #537a78 !important;
  color: white;
}

.footer-email-button-border,
.header-font-size li a {
  font-size: 17px;
}

.footer-email-button-border,
.header-button-text {
  font-weight: 646;
}

.header-hover li {
  border-bottom: 4px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.nav-active-border{
    border-bottom: 4px solid #eaac53!important;
}

.header-hover li:hover {
  border-bottom: 4px solid #eaac53;
}

.header-last-link-list:hover {
  border-bottom: none !important;
}

.footer-email-button-border:hover,
.header-last-link:hover {
  color: white !important;
  background: #214d4b !important;
}

.footer-bg {
  background: #f3f2f0;
}

.footer-link li {
  list-style: none;
}

.footer-link li a {
  text-decoration: none;
  color: black;
}

.footer-link li a:hover {
  text-decoration: underline;
}

.footer-logo-name a:hover {
  text-decoration: none !important;
}

/* Home
Messages
-President Message
-Secretary Message
About Us
-At a glance
-Constitution
-our papers

Committees
-Executive Committee
-Election Committee

Former Pre. & GS

Members
Gallery
-Photo Gallery
-Video Gallery
Notice
News & Event
Auditorium
Contact us */
