.logo-size {
  max-width: 108px;
  max-height: 108px;
}

.footer-email-border {
  border-radius: 50px !important;
}

.footer-email-button-border,
.header-last-link {
  border-radius: 50px !important;
  border: none !important;
  background: #537a78 !important;
  color: white;
}

.footer-email-button-border,
.header-font-size li a {
  font-size: 17px;
}

.footer-email-button-border,
.header-button-text {
  font-weight: 646;
}

.header-hover li {
  border-bottom: 4px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.nav-active-border {
  border-bottom: 4px solid #eaac53 !important;
}

.header-hover li:hover {
  border-bottom: 4px solid #eaac53;
}

.header-last-link-list {
  border: none!important;
}

.header-last-link-list:hover {
  border-bottom: none !important;
}

.footer-email-button-border:hover,
.header-last-link:hover {
  color: white !important;
  background: #214d4b !important;
}

.footer-bg {
  background: #f3f2f0;
}

.footer-link li {
  list-style: none;
}

.footer-link li a {
  text-decoration: none;
  color: black;
}

.footer-link li a:hover {
  text-decoration: underline;
}

.footer-logo-name a:hover {
  text-decoration: none !important;
}

.main-container-width {
  width: 100%;
}




.dt-layout-table{
  display: block !important;
  overflow: scroll;
}

.term-and-condition-link ul li{
list-style: none;
}

.border-term{
border-right: 1px solid black;
}

.text-md-size{
  font-size: 14px;
}

.form-contact{
width: 855px;
height: 60px;
border-radius: 10px;
}

.massage-textarea{
  width: 855px;
  border-radius: 10px;
}

.btn-contact{
  width: 855px;
  height: 50px;
  background: #537a78;
  font-size: 15px;
  font-family:sans-serif;
  color: white;
  font-size: 20px;
}

.btn-contact:hover{
  background: #214d4b;
  color: white;
}

@media (max-width: 1200px) {
  .res-display {
    display: none;
  }
}

@media (max-width: 992px) {
  .res-display {
    display: block;
  }
}


@media (max-width: 767px) {
  .border-term{
    border-right: none!important;
    }
    .footer-mobile-link-position{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .icon-md-position{
      text-align: center;
    }
    
}

/* @media (max-width: 530px) {
  .sorting_1 {
    font-size: 6px;
  }

  td {
    font-size: 6px;
  }

  span.dt-column-title {
    font-size: 6px;
  }
} */
